<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>自定义技能</title>
</head>
 <link href="../assets/css/new.css" rel="stylesheet" type="text/css" />
 <link href="../assets/css/dpl.css" rel="stylesheet">
 <link href="../assets/css/bui.css" rel="stylesheet">
 <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
 <link href="../assets/css/demo.css" rel="stylesheet">
<body>
	<div class="content">
		<div class="font-title">
			<h1>自定义技能</h1>
		</div>
		<div class="demo-content">
 			<div class="row">
  				<div class="span12 offset3 doc-content">
    				<p>
      					<button class="button button-large button-primary">+新建单元</button>
   					</p>
  				</div>
			</div>
	  	</div>
	  	<div class="skill-table">
	  		<div class="table-title">
	  			<div class="na">
	  				<p>意图名称</p>
	  			</div>
	  			<div class="other-na">
	  				<p>意图别名</p>
	  			</div>
	  			<div class="a-type">
	  				<p>全部类型</p>
	  			</div>
	  			<div class="describe">
	  				<p>意图描述</p>
	  			</div>
	  			<div class="operation">
	  				<p>操作</p>
	  			</div>
	  		</div>
				<table class="table table-bordered">
					<tbody>
					<tr>
						<td class="s-td1">吃饭</td>
						<td class="s-td2">吃饭饭饭</td>
						<td class="s-td3">3</td>
						<td class="s-td4">吃饭了</td>
						<td class="s-td5"></td>
					</tr>
					<tr>
						<td class="s-td1">吃饭</td>
						<td class="s-td2">吃饭饭饭</td>
						<td class="s-td3">3</td>
						<td class="s-td4">吃饭了</td>
						<td class="s-td5"></td>
					</tr>
					<tr>
						<td class="s-td1">电视</td>
						<td class="s-td2">看电视</td>
						<td class="s-td3">3</td>
						<td class="s-td4">看电视了</td>
						<td class="s-td5"></td>
					</tr>
					<tr>
						<td class="s-td1">吃饭</td>
						<td class="s-td2">吃饭饭饭</td>
						<td class="s-td3">4</td>
						<td class="s-td4">吃饭了</td>
						<td class="s-td5"></td>
					</tr>
					<tr>
						<td class="s-td1">吃饭</td>
						<td class="s-td2">吃饭饭饭</td>
						<td class="s-td3">4</td>
						<td class="s-td4">吃饭了</td>
						<td class="s-td5"></td>
					</tr>
					<tr>
						<td class="s-td1">吃饭</td>
						<td class="s-td2">吃饭饭饭</td>
						<td class="s-td3">4</td>
						<td class="s-td4">吃饭了</td>
						<td class="s-td5"></td>
					</tr>
					<tr>
						<td class="s-td1">电脑</td>
						<td class="s-td2">打电脑</td>
						<td class="s-td3">4</td>
						<td class="s-td4">玩电脑了</td>
						<td class="s-td5"></td>
					</tr>
					</tbody>
				</table>
		</div>
		 
        </div>
        <script src="../assets/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="../assets/js/paginathing.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                for (var i = 1; i <= 150; i++) {
                    $('.list-group').append('<li class="list-group-item"> Item ' + i + '</li>');
                }

                $('.list-group').paginathing({
                    perPage: 5,
                    limitPagination: 9,
                    containerClass: 'panel-footer',
                    pageNumbers: true
                })

                $('tbody').paginathing({
                    perPage: 4,
                    insertAfter: '.table',
                    pageNumbers: true
                });
            });
        </script>

		<div class="demo-content">
 	
 
<!-- script end -->
  </div>
	</div>
</body>
</html>